In [1]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

### Importing Data

In [2]:
pm25 = pd.read_csv('PM25_monthly_avg_2018.csv')
pm25.head()

,Station,Lat,Long,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Alipur,28.815442,77.152489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215.43,231.46
1,Anand Vihar,28.645835,77.314856,261.64,161.27,119.18,115.37,107.38,111.59,NaN,47.74,56.61,166.46,254.00,NaN
2,Ashok Vihar,28.695670,77.181302,NaN,172.04,119.95,101.38,97.54,78.01,38.88,41.36,38.88,86.91,245.07,292.13
3,Aya Nagar,28.470959,77.110122,148.98,110.73,57.50,NaN,NaN,NaN,41.64,45.23,48.87,102.99,136.04,144.12
4,Bawana,28.775754,77.051013,NaN,NaN,NaN,NaN,NaN,NaN,51.48,52.90,50.50,162.41,213.15,NaN

### Converting data into numpy arrays

In [3]:
lat = pm25['Lat'].values
lon = pm25['Long'].values
dec = pm25['Dec'].values
jan = pm25['Jan'].values
feb = pm25['Feb'].values
mar = pm25['Mar'].values
apr = pm25['Apr'].values
may = pm25['May'].values
jun = pm25['Jun'].values
jul = pm25['Jul'].values
aug = pm25['Aug'].values
sep = pm25['Sep'].values
octo = pm25['Oct'].values
nov = pm25['Nov'].values
dec = pm25['Dec'].values

### Manually adding data to show some random locations

In [4]:
site_lon = [77.175211,77.184967,77.284445]
site_lat = [28.630673,28.546935,28.450554]
slon = np.asarray(site_lon)
slat = np.asarray(site_lat)

In [ ]:
Plott

In [5]:
%matplotlib
map = Basemap(llcrnrlon=76.812,llcrnrlat=28.37,urcrnrlon=77.4,urcrnrlat=28.9)#, resolution = 'h', epsg=24378)
#map.drawmapboundary(fill_color='aqua')
#Fill the continents with the land color
map.readshapefile('delhi_Project_sssss','Delhi')
#map.fillcontinents(color='red',lake_color='aqua')
#map.drawcoastlines()
plt.title('July 2018',fontsize=20)
map.scatter(lon, lat, latlon=True,
          c=jul, s=100,
          cmap='Reds', alpha=0.9)
map.colorbar(label=r'$\ PM_{2.5} Concentration $')
plt.clim(0,350)
map.scatter(slon,slat,latlon=True,s=30,color='green',alpha=1)
plt.show()
plt.savefig('jul',dpi=300)

Using matplotlib backend: Qt5Agg